﻿@model IEnumerable<MVC_DataBasedemo.Models.Product>

@{
    ViewBag.Title = "GetCategoryDetails";
}

<h2>GetCategoryDetails</h2>


@foreach (var item in Model)
{
    <ul style="color:firebrick;">
        <li>@item.pro_id</li>
        <li>@item.pro_name</li>
        <li>@item.price</li>
    </ul>
}
