body
{
background-image:url('4.jpg');
background-size: cover; 
background-attachment:fixed;
display: flex;
justify-content: center;
}

nav
{
height:50px;
margin-left:50px;
margin-right:50px;
margin-top:100px;
background-image:url('4.jpg');
background-size: cover;
word-spacing:120px;
}

article
{
height:800px;
background:white;
margin-left:0px;
margin-right:0px;

}

footer
{
margin-left:100px;
margin-right:100px;
height:100px;
background:grey;
}

a
{
text-shadow: 1px 1px 2px gray;
border-radius: 10px;
border: 2px solid blue;
font-size: 22px;
background: lightblue;
color: black;
padding: 8px;
}
.scroll {
width: 420px;
height: 80px;
margin-left: 400px;
margin-top: 100px;
border: 2px solid #f0e8e8;
border-radius: 10px;
padding: 15px;
overflow-x: auto;
overflow-y: hidden;
white-space: nowrap;
background-color: #ebdfdf;
}
.footer {
position: fixed;
bottom: 0px;
left: 50%;
font-size: 10px;
color: #555;
background: #ece5e5;
padding: 10px;
border-radius: 4px;
    
}

.center-text {
position: absolute;
top: 55%;
left: 45%;
text-align: center;
}


.table-container {
    width: 700px;
    margin: 30px auto;
  }
 
  table {
    width: 100%;
  }
 
  th {
    background-color: #000000;
    color: #ffffff;
    padding: 12px;
    text-align: center;
    font-weight: bold;
  }
 
  td {
    border: 2px solid #ffffff;
    padding: 15px;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(232, 240, 240);
  }
 
  .product-name {
    font-weight: bold;
  }
 
  img {
    width: 100px;
    height: auto;
  }
  ul {
    list-style-type: circle;
    padding-left: 20px;
    text-align: left;
  }
 


  .contact{
    background: #b4adadb2;
    padding: 5px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    justify-content: center;
    margin-left: 410px;
    margin-right: 410;
    margin-top: 100px;
}
 
.contactForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
 
.contactForm input,
.contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
 
 
.contactForm button {
    width: 100%;
    padding: 12px;
    background: #5727be;
    border: none;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}










.register {
    width: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    border-color: #161515b2;
}

h2 {
    text-align: center;
}

.form {
    margin-bottom: 12px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.inside {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input {
    padding: 5px;
    width: 100%;
}

.inside input {
    width: 70%;
}

.code {
    margin-top: 5px;
}

.button {
    padding: 8px 15px;
    margin-right: 10px;
    cursor: pointer;
}





.mm {
    margin-top: 20px;
    color: #333;
}

.frame {
    margin-top: 20px;
    border: none;
    align-items: center;
}

