
@{
    ViewBag.Title = "getting_TempData_from_democontroller";
}

<h1>The data is retrived by in the demo controlled by using tempData.keep </h1>
@foreach (var l in TempData["stores"] as List<string>)
{
    <h2>@l</h2>
}

