
@{
    ViewBag.Title = "getting_TempData_from_DataController";
}


<h1>The data is retrive by demo controller which is passed by data controller </h1>
@foreach (var l in TempData["stores"] as List<string>)
{
    <h2>@l</h2>
}


