
@{
    ViewBag.Title = "Index";
}

@*<h2>Index View of the data Controller</h2>

    @foreach (var item in Model)
    {
        <p>@item</p>
    }

    <h3>@ViewBag.data1</h3>
    <h3>@ViewData["data2"]</h3>*@

<h1>The From index for tempData</h1>
@foreach (var l in Model)
{
    <h2>@l</h2>
}